body {
	position: relative;
	height: 100%;

	background-color: rebeccapurple;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#main {
	height: 100%;
	margin: 50px 100px 50px 100px;
	background-color: mediumpurple;
	opacity: 0.5;
}